<div class="container">
    <form (submit)="onSubmit()">
        <fieldset class="form-group">
            <label for="title">Título</label>
            <input type="text"
                   [(ngModel)]="note.title"
                   class="form-control"
                   id="title" name="title"
                   placeholder="Título">
        </fieldset>

        <fieldset class="form-group">
            <label for="description">Descrição</label>
            <textarea class="form-control"
                      [(ngModel)]="note.description"
                      id="description" name="description"
                      rows="3">
            </textarea>
        </fieldset>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" *ngIf="note._id" class="btn btn-danger">Excluir</button>
    </form>
</div>
